<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>采集节点项目管理-{&web_name}</title>
<link rel='stylesheet' type='text/css' href='./views/css/admin_style.css'>
<link rel='stylesheet' type='text/css' href='./views/css/collect.css'>
<link rel='stylesheet' type='text/css' href='./views/css/dialog.css'>
<script language="JavaScript" charset="utf-8" type="text/javascript" src="./views/js/jquery.js"></script>
<script language="JavaScript" charset="utf-8" type="text/javascript" src="./views/js/admin_all.js"></script>
<script language="JavaScript" charset="utf-8" type="text/javascript" src="./views/js/collect.js"></script>
<script language="JavaScript" charset="utf-8" type="text/javascript" src="./views/js/dialog.js"></script>
<script language="JavaScript" charset="utf-8" type="text/javascript" src="./views/js/formvalidator.js"></script>
<script type="text/javascript">
<!--
function ColOne(nid)
{ 
	var chk_stype = document.getElementsByName('stype_'+nid);
	var chk_snull = document.getElementById('snull'+nid);
	var length = chk_stype.length;
	if(chk_snull.checked){
		snullvalue = 1;
	}else{
		snullvalue = 0;
	}
	for (var i=0;i<length;i++){
		if(chk_stype[i].checked){
			var svalue = chk_stype[i].value;
			if (svalue == 1)
			{
				location = "?s=Admin/CustomCollectDown/ColRun/action/real/type/all/stime/"+encodeURI(document.getElementById('stime'+nid).value)+"/snull/"+snullvalue+"/nid/"+nid+"/day/"+encodeURI(document.getElementById('day'+nid).value);
			} 
			else if (svalue == 2)
			{
				location = "?s=Admin/CustomCollectDown/ColRun/action/real/type/all/stime/"+encodeURI(document.getElementById('stime'+nid).value)+"/snull/"+snullvalue+"/nid/"+nid+"/qid/"+encodeURI(document.getElementById('qid'+nid).value)+"/jid/"+encodeURI(document.getElementById('jid'+nid).value);
			}
			else if (svalue == 3)
			{
				location = "?s=Admin/CustomCollectDown/ColRun/action/real/type/all/stime/"+encodeURI(document.getElementById('stime'+nid).value)+"/snull/"+snullvalue+"/nid/"+nid+"/scid/"+encodeURI(document.getElementById('scid'+nid).value);
			}
		}
	}
}
function show_stype(id,obj) {
	var num = 3;
	for (var i=1; i<=num; i++){
		if (obj==i){ 
			$('#stype_'+id+'_'+i).show();
		} else {
			$('#stype_'+id+'_'+i).hide();
		}
	}
}
-->
</script>
<style type="text/css">
<!--
.tr strong a{color:#f30;}
-->
</style>
</head>
<body>
<table width="98%" border="0" cellpadding="5" cellspacing="1" class="table">
<tr>
  <td colspan="6" class="table_title">
  <ul>
  <li><a  href="?s=Admin/CustomCollectDown/ListShow">资源采集节点管理</a> </li>
  <li><a href="?s=Admin/CustomCollectDown/Add">添加资源采集节点</a></li>
  <li><a href="?s=Admin/CustomCollectDown/Manage/action/import">导入资源采集规则</a></li>
  </ul>
  </td>
</tr>
<notempty name="cache"><tr class="tr"><td colspan="6"><strong><a href="{$cache}">上次有采集任务没有完成，是否接着采集?</a></strong></td></tr></notempty>
<form action="" method="post" id="gxform" name="gxform">
<tr align="center" class="list_head">
<td width="2%"></td>
<td width='5%'>ID</td>
<td width='15%'>节点项目名称</td>
<td width='15%'>最后采集时间</td>
<td width=''>操作</td>
</tr>
<volist name='ArrList' id='vo'>
<tr class="tr" align="center">
<td  width="2%"><input name='ids[]' type='checkbox' value='{$vo.id}' class="noborder"></td>
<td  width='5%'>{$vo.id}</td>
<td align="left">{$vo.name}</td>
<td class="td"><if condition="$vo['lastdate'] eq 0">从未采集过<else/>{$vo.lastdate|date='Y-m-d H:i:s',###}</if></td>
<td class="td" id='action'><span style="color:#333;">间隔 <input type="text" id="stime{$vo.id}" name="stime" value="3"  style="width:10px;height:16px;line-height:16px;"/> s</span>
<span style="color:#333;"><input type="radio" name="stype_{$vo.id}" onclick="show_stype({$vo.id},1)" id="_{$vo.id}_1" value="1" class="radio" checked>按天数</span>
<span style="color:#333;"><input type="radio" name="stype_{$vo.id}" onclick="show_stype({$vo.id},2)" id="_{$vo.id}_2" value="2" class="radio">按影片ID</span>
<span style="color:#333;"><input type="radio" name="stype_{$vo.id}" onclick="show_stype({$vo.id},3)" id="_{$vo.id}_3" value="3" class="radio">按影片栏目</span>
<span style="color:#333;"><input type="checkbox" name="snull" id="snull{$vo.id}" value="1" class="noborder">下载地址为空</span>
<a href="javascript:ColOne({$vo.id});">采集</a>|<a href="?s=Admin/CustomCollectDown/ColRun/action/demo/type/all/nid/{$vo.id}">预览</a>|<a href="?s=Admin/CustomCollectDown/Add/nid/{$vo.id}">编辑</a><!--|<a  href="javascript:void(0)"  onclick="copy_spider({$vo.id})">复制</a>-->|<a  href="?s=Admin/CustomCollectDown/Manage/action/copy/nid/{$vo.id}">复制</a>|<a href="?s=Admin/CustomCollectDown/Manage/action/export/nid/{$vo.id}">导出</a>|<a href="?s=Admin/CustomCollectDown/Manage/action/del/nid/{$vo.id}" onClick="return confirm('确定删除该节点吗?')" title="点击删除节点">删除</a>
<div style="text-algin:left;">
<div style="color:#333;" id="stype_{$vo.id}_1">采集 <input type="text" id="day{$vo.id}" name="day" value="1" style="width:100px;height:16px;line-height:16px;"/> 天 （填写0则采集所有）</div>
<div style="color:#333;display:none;" id="stype_{$vo.id}_2">起始ID <input type="text" id="qid{$vo.id}" name="qid" value="1"  style="width:100px;height:16px;line-height:16px;"/> 结束ID <input type="text" id="jid{$vo.id}" name="jid" value="0" style="width:100px;height:16px;line-height:16px;"/> （结束ID为0时采集到当前影片最大ID）</div>
<div style="color:#333;display:none;" id="stype_{$vo.id}_3">影片栏目 <select name="scid" id="scid{$vo.id}" style="width:132px">
              <option value="0" >选择栏目分类</option><volist name="channel_tree" id="gxcms">
              <gt name="gxcms.status" value="0">
              <option value="{$gxcms.id}" <eq name="gxcms.id" value="$cid" >selected</eq>>├─{$gxcms.cname}</option>
              <volist name="gxcms['son']" id="gxcms">
              <option value="{$gxcms.id}" <eq name="gxcms.id" value="$cid">selected</eq>>├──{$gxcms.cname}</option>
               </volist>
              </gt>
              </volist></select></div>
</div>
</td>
</tr>
</volist>

<tr class="tr"><td colspan="8" class="pages">{$pagelist['listpages']}</td></tr>
<tr class="tr"><td colspan="8"><span><input type="button" id="checkall" value="全/反选" class="bginput"></span><span><input type="button" value="导入采集规则" class="bginput" onClick="gxform.action='?s=Admin/Video/Statusall/sid/0';" /></span><span><input type="button" value="采集选中节点" class="bginput" onClick="gxform.action='?s=Admin/Video/Statusall/sid/0';" /></span><span><input type="submit" value="批量删除" onClick="if(confirm('删除后将无法还原,确定要删除吗?')){gxform.action='?s=Admin/CustomCollectDown/Manage/action/delall';}else{return false}" class="bginput"/></span></td>
</tr>
</form>
</table>
<!--连载框 -->
<div id="msg_tbc" class="tbc-block"></div>
<!--浮动层 -->
<include file="dialog" />
<style>#dia_title{height:25px;line-height:25px}.jqmWindow{height:300px;width:500px;}</style>
<script language="JavaScript" type="text/javascript">
function copy_spider(id) {
	art.dialog({id:'test'}).close();
	art.dialog({lock: true,title:'复制采集节点',id:'test',content:'<input type="text" name="data[name]" >',iframe:'?s=Admin/CustomCollectDown/Manage/action/copy/nid/'+id,width:'350',height:'125'}, function(){var d = art.dialog({id:'test'}).data.iframe;var form = d.document.getElementById('dosubmit');form.click();return false;}, function(){art.dialog({id:'test'}).close()});
}

</script>
<include file="../admin/footer" />
</body>
</html>