<div class="topchannel">
	<div class="topchannel_con">
		<a href="{$webpath}" title="{$webname}" class="logo" target="_blank"><img src="{$webpath}css/images/logo.png" alt="{$webname}" title="{$webname}" /></a>
		<ul>
			<li class="nobg"><a href="{$webpath}">Home</a></li>
			<!--
			<gxcms name="menu" ids="1,2,3,4,7,22">
			<li><a href="{$menu.showurl}" >{$menu.cname}</a></li></gxcms>
			<li><a href="{$topurl}">Rank</a></li>
			<li><a href="{$specialurl}">Special</a></li>
			<li><a href="{$webpath}comment/">Reviews</a></li>
			END-->
		</ul>
		<!--
		<div class="topsearch">
			<form name="search" id="search" action="{$webpath}index.php?s=video/search" class="search" target="_blank" method="post">
				<input type="text"  value="输入影片名或主演名" id="wd" name="wd" autocomplete="off" maxlength="26" style="color:#D8D8D8" />
				<button type="submit" id="_sbtn">Search</button>
			</form>
		</div>
		<div class="toplogon" id="topLogon"><a href="javascript:void(0)" title="" target="_self" id="head_history">我看过的</a></div>
		END-->
	</div>
</div><!--topchannel 头部 END-->