<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$webtitle}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Cache-Control" content="max-age=604800" />
<meta name="keywords" content="{$keywords},高清电视,全球直播电视,64码,64码电视,64码高清电视,亚洲电视直播,亚洲高清直播电视">
<meta name="description" content="{$description}">
<link rel='stylesheet' type='text/css' href='{$webpath}css/list.css'>
<link rel='stylesheet' type='text/css' href='{$webpath}css/header.css'>
</head>
<body>
<div id="wrapper">
<include file="header_detail" />
<div class="wrapper">
<div class="navigation">
  <span>您现在所在的位置：</span>{$navtitle}
</div>
<div class="wrapper">
<iframe name=tv  align=middle marginwidth=0 marginheight=0 vspace=0 hspace=0 src="http://live.64ma.com/tv/live.html"  frameborder=no scrolling=no  width=970  height=653></iframe>
</div>
</div>
</div>
<include file="footer" />
</body>
</html>
<include file="system" />
<script type="text/javascript" src="{$webpath}js/common.min.js"></script>
<script src="{$webpath}js/tips_history_lazy.min.js" charset="utf-8" ></script>
<script language="JavaScript" type="text/javascript" src="{$webpath}views/js/history.js"></script>