<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$cname}频道-最新、最全、好看的同步{$cname}免费在线观看-{$webname}</title>
<meta name="keywords" content="最新{$cname}，免费{$cname}<gxcms name="menu" ids="'.$cid.'"><gxfor name="menu.son" id="menuson">，{$menuson.cname}</gxfor></gxcms>">
<meta name="description" content="{$webname}{$cname}频道同步播出最新、最热{$cname},来{$webname}{$cname}频道观看最新最热的{$cname}">
<link rel='stylesheet' type='text/css' href='{$webpath}css/header.css'>
<link rel='stylesheet' type='text/css' href='{$webpath}css/index_tv.css'>
</head>
<body>
<div id="wrapper">
<include file="header_detail" />
<div class="mainnav_site_box">
<div class="mainnav_site">
	<div class="mainnav_site_con">
		<p><a href="{:get_channel_name(2,'showurl')}" target="_self" class="on">电视剧首页</a><gxcms name="menu" ids="'.$cid.'"><gxfor name="menu.son" id="menuson">|<a href="{$menuson.showurl}">{$menuson.cname}</a></gxfor></gxcms></p>
	</div>
</div><!--nav_channel 副导航  END-->
<div id="topdiv4" class="toptag">
	<dl class="toptag_1">
		<dt>按类型</dt>
		<gxcms name="menu" ids="'.$cid.'"><gxfor name="menu.son" id="menuson"><dd><a href="{$menuson.showurl}">{$menuson.cname}</a></dd></gxfor></gxcms>
	</dl>
	<dl class="toptag_2">
		<dt>按年代</dt>
		<dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/year/2012" title="2012">2012</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/year/2011" title="2011">2011</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/year/2010" title="2010">2010</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/year/2009" title="2009">2009</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/year/2008" title="2008">2008</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/year/2007" title="2007">2007</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/year/2006" title="2006">2006</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/year/2005" title="2005">2005</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/year/2004" title="2004">2004</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/year/2003" title="2003">2003</a></dd>
	</dl>
	<dl class="toptag_3">
		<dt>按地区</dt>
		<dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/area/内地" title="内地">内地</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/area/香港" title="香港">香港</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/area/" title="台湾">台湾</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/area/韩国" title="韩国">韩国</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/area/日本" title="日本">日本</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/area/欧美" title="欧美">欧美</a></dd><dd><a href="{$webpath}index.php?s=video/lists/reset/1/id/2/area/其它" title="其它">其它</a></dd>

	</dl>
	<dl class="toptag_4">
		<dt>按明星</dt>
		<dd><a href="{$webpath}index.php?s=video/search/wd/%E6%9D%A8%E5%B9%82" title="杨幂" target="_blank">杨幂</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E5%88%98%E8%AF%97%E8%AF%97&t=1" title="刘诗诗" target="_blank">刘诗诗</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E6%9D%A8%E4%B8%9E%E7%90%B3" title="杨丞琳" target="_blank">杨丞琳</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E9%98%AE%E7%BB%8F%E5%A4%A9" title="阮经天" target="_blank">阮经天</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E5%94%90%E5%AB%A3&t=1" title="唐嫣" target="_blank">唐嫣</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E9%99%88%E4%B9%94%E6%81%A9" title="陈乔恩" target="_blank">陈乔恩</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E6%9F%B3%E4%BA%91%E9%BE%99&t=1" title="柳云龙" target="_blank">柳云龙</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E5%90%B4%E5%A5%87%E9%9A%86&t=1" title="吴奇隆" target="_blank">吴奇隆</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E9%82%93%E8%B6%85" title="邓超" target="_blank">邓超</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E9%92%9F%E6%B1%89%E8%89%AF" title="钟汉良" target="_blank">钟汉良</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E6%9D%8E%E7%AC%91%E5%86%89" title="李小冉" target="_blank">李小冉</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E6%9E%97%E5%BF%83%E5%A6%82" title="林心如" target="_blank">林心如</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E6%9D%8E%E6%95%8F%E9%95%90" title="李民浩" target="_blank">李民浩</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E5%86%AF%E7%BB%8D%E5%B3%B0" title="冯绍峰" target="_blank">冯绍峰</a></dd>
<dd><a href="{$webpath}index.php?s=video/search/wd/%E4%B8%A5%E5%AE%BD" title="严宽" target="_blank">严宽</a></dd>

	</dl>
</div><!--toptag  END-->

<div id="topdiv5" class="wrapper L639R321 wrapper_theater">
	<div class="main">
		<div class="box box_theater">
			<div class="box_tt"><h2>同步卫视</h2>
<a href="{$webpath}index.php?s=video/lists/reset/1/id/2/area/内地" title="同步卫视更多" target="_blank" class="more">更多</a></div>
<div class="box_con">
	<ul class="movielist movielist_136x96">
		<gxcms name="video" cid="15" limit="2" order="stars desc">
		<li>
			<a class="pic" title="{$video.title}" href="{$video.readurl}"><img title="{$video.title}" alt="{$video.title}" src="{$video.picurl}"></a>
			<p class="movielist_tt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,11}</a><a class="info" title="{$video.title}在线观看" href="{$video.readurl}">详情</a></p>
			<span class="movbg"></span>
			<span class="movtxt"><if condition="$video.serial gt 0">更新至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if></span>
		</li>
		</gxcms>
	</ul>
	<ul class="txtlist">
		<gxcms name="video" cid="15" limit="2" order="up desc">
		<li>
			<p><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,6}</a>(<if condition="$video.serial gt 0">至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if>)</p>
			<p>{$video.actor|get_replace_html=0,10}</p>
		</li></gxcms>
	</ul>
</div>


		</div><!--box 卫视剧场 END-->
		<div class="box box_theater">
			<div class="box_tt"><h2>TVB剧场</h2>
<a  href="{$webpath}index.php?s=video/lists/reset/1/id/2/area/香港" title="TVB剧场更多" target="_blank" class="more">更多</a></div>
<div class="box_con">
	<ul class="movielist movielist_136x96">
		<gxcms name="video" cid="17" limit="2" order="stars desc">
		<li>
			<a class="pic" title="{$video.title}" href="{$video.readurl}"><img title="{$video.title}" alt="{$video.title}" src="{$video.picurl}"></a>
			<p class="movielist_tt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,11}</a><a class="info" title="{$video.title}在线观看" href="{$video.readurl}">详情</a></p>
			<span class="movbg"></span>
			<span class="movtxt"><if condition="$video.serial gt 0">更新至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if></span>
		</li>
		</gxcms>
	</ul>
	<ul class="txtlist">
		<gxcms name="video" cid="17" limit="2" order="up desc">
		<li>
			<p><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,6}</a>(<if condition="$video.serial gt 0">至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if>)</p>
			<p>{$video.actor|get_replace_html=0,10}</p>
		</li></gxcms>
	</ul>
</div>

		</div><!--box TVB剧场 END-->
		<div class="box box_theater">
			<div class="box_tt"><h2>日剧剧场</h2>
<a  href="{$webpath}index.php?s=video/lists/reset/1/id/2/area/日本" title="日剧剧场更多" target="_blank" class="more">更多</a></div>
<div class="box_con">
	<ul class="movielist movielist_136x96">
		<gxcms name="video" cid="19" limit="2" order="stars desc">
		<li>
			<a class="pic" title="{$video.title}" href="{$video.readurl}"><img title="{$video.title}" alt="{$video.title}" src="{$video.picurl}"></a>
			<p class="movielist_tt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,11}</a><a class="info" title="{$video.title}在线观看" href="{$video.readurl}">详情</a></p>
			<span class="movbg"></span>
			<span class="movtxt"><if condition="$video.serial gt 0">更新至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if></span>
		</li>
		</gxcms>
	</ul>
	<ul class="txtlist">
		<gxcms name="video" cid="19" limit="2" order="up desc">
		<li>
			<p><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,6}</a>(<if condition="$video.serial gt 0">至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if>)</p>
			<p>{$video.actor|get_replace_html=0,10}</p>
		</li></gxcms>
	</ul>
</div>

		</div><!--box 韩剧剧场 END-->
		<div class="box box_theater borderN">
			<div class="box_tt"><h2>欧美剧场</h2>
<a  href="{$webpath}index.php?s=video/lists/reset/1/id/2/area/欧美" title="欧美剧场更多" target="_blank" class="more">更多</a></div>
<div class="box_con">
	<ul class="movielist movielist_136x96">
		<gxcms name="video" cid="20" limit="2" order="stars desc">
		<li>
			<a class="pic" title="{$video.title}" href="{$video.readurl}"><img title="{$video.title}" alt="{$video.title}" src="{$video.picurl}"></a>
			<p class="movielist_tt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,11}</a><a class="info" title="{$video.title}在线观看" href="{$video.readurl}">详情</a></p>
			<span class="movbg"></span>
			<span class="movtxt"><if condition="$video.serial gt 0">更新至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if></span>
		</li>
		</gxcms>
	</ul>
	<ul class="txtlist">
		<gxcms name="video" cid="20" limit="2" order="up desc">
		<li>
			<p><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,6}</a>(<if condition="$video.serial gt 0">至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if>)</p>
			<p>{$video.actor|get_replace_html=0,10}</p>
		</li></gxcms>
	</ul>
</div>

		</div><!--box 美剧精编 END-->
	</div><!--main 左侧 END-->
	<div class="side">
		<div class="box box_theater">
			<div class="box_tt"><h2>台湾剧剧场</h2>
</div>
<div class="box_con">
	<ul class="movielist movielist_136x96">
		<gxcms name="video" cid="16" limit="2" order="stars desc">
		<li>
			<a class="pic" title="{$video.title}" href="{$video.readurl}"><img title="{$video.title}" alt="{$video.title}" src="{$video.picurl}"></a>
			<p class="movielist_tt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,11}</a><a class="info" title="{$video.title}在线观看" href="{$video.readurl}">详情</a></p>
			<span class="movbg"></span>
			<span class="movtxt"><if condition="$video.serial gt 0">更新至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if></span>
		</li>
		</gxcms>
	</ul>
	<ul class="txtlist">
		<gxcms name="video" cid="16" limit="2" order="up desc">
		<li>
			<p><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,6}</a>(<if condition="$video.serial gt 0">至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if>)</p>
			<p>{$video.actor|get_replace_html=0,10}</p>
		</li></gxcms>
	</ul>
</div>

		</div><!--box 日剧精编 END-->
		<div class="box box_theater borderN" style="width:162px;">
			<div class="box_tt"><h2>韩国剧剧场</h2>
</div>
<div class="box_con">
	<ul class="movielist movielist_136x96">
		<gxcms name="video" cid="18" limit="2" order="stars desc">
		<li>
			<a class="pic" title="{$video.title}" href="{$video.readurl}"><img title="{$video.title}" alt="{$video.title}" src="{$video.picurl}"></a>
			<p class="movielist_tt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,11}</a><a class="info" title="{$video.title}在线观看" href="{$video.readurl}">详情</a></p>
			<span class="movbg"></span>
			<span class="movtxt"><if condition="$video.serial gt 0">更新至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if></span>
		</li>
		</gxcms>
	</ul>
	<ul class="txtlist">
		<gxcms name="video" cid="18" limit="2" order="up desc">
		<li>
			<p><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,6}</a>(<if condition="$video.serial gt 0">至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if>)</p>
			<p>{$video.actor|get_replace_html=0,10}</p>
		</li></gxcms>
	</ul>
</div>

		</div><!--box 台剧精编 END-->
	</div><!--side 右侧 END-->
</div><!--wrapper  END-->

<div id="topdiv6" class="wrapper">
	<div class="box box_group">
		<div class="contain">
			<div class="box_tt box_tt_typeA"><h2>同步剧场</h2></div>
			<div class="box_con">
				<ul class="movielist movielist_100x140 movielist_widthB"><gxcms name="video" cid="2" limit="16" order="serial desc">
					<li>
	<a class="pic" title="{$video.title}" href="{$video.readurl}"><img title="{$video.title}" alt="{$video.title}" src="{$webpath}images/img_default.gif" _src="{$video.picurlsmall}" onmouseover="D.show('teleplay','{$video.title}','{$video.year}',' {$video.showname}','{$video.area}','{$video.score}','{$video.scoreer}', '{$video.actor}','{$video.title}','','14','',1)" onmouseout="D.hide()">
	<if condition="($video.intro eq 'DVD+BD') or ($video.intro eq 'BD')"><span class="movnum movnum_1080"></span></if><if condition="($video.intro eq 'HD')"><span class="movnum movnum_720"></span></if><if condition="($video.intro eq 'dvd')"><span class="movnum movnum_480"></span></if></a>
	<p class="movielist_tt"><a href="{$video.readurl}" title="{$video.title}">{$video.title}</a>
	<a href="{$video.readurl}" title="{$video.title}全集" class="info">详情</a></p>
	<span class="movbg"></span>
	<span class="movtxt">更新至{$video.serial}集</span>
	<p>{$video.actor}</p>
</li></gxcms>
				</ul>
			</div>
		</div><!--contain 同步剧场 END-->
	</div><!--box  END-->
</div><!--wrapper  END-->

<div id="topdiv9" class="wrapper L725R243">
	<div class="main">
		<div class="box box_typeB">
			<div class="box_tt"><h2>华语剧场</h2></div>
			<ul class="movielist movielist_100x140"><gxcms name="video" cid="15,16,17" limit="12" order="addtime desc">
				<li>
	<a class="pic" title="{$video.title}" href="{$video.readurl}"><img title="{$video.title}" alt="{$video.title}" src="{$webpath}images/img_default.gif" _src="{$video.picurlsmall}" onmouseover="D.show('teleplay','{$video.title}','{$video.year}','{$video.showname}','{$video.area}','{$video.score}','{$video.scoreer}', '{$video.actor}','{$video.content|get_replace_html=0,30}','','53','',1)" onmouseout="D.hide()"></a>
	<p class="movielist_tt"><a href="{$video.readurl}" title="{$video.title}">{$video.title}</a>
	<a href="{$video.readurl}" title="{$video.title}" class="info">详情</a></p>
	<span class="movbg"></span>
	<span class="movtxt"><if condition="$video.serial gt 0">更新至{$video.serial}集<else />完结</if></span>
	<p>{$video.actor}</p>
</li></gxcms>
			</ul>
		</div>
	</div><!--main  END-->
	<div class="side">
		<div class="sidebox">
			<div class="tabbox" style="border-top:none;">
				<h3 id="Tab_countrylist_0" onmouseover="switchTab('countrylist',0,2,'on','')" class="on" style="width:121px;border-left:none;">华语热播榜</h3>
				<h3 id="Tab_countrylist_1" onmouseover="switchTab('countrylist',1,2,'on','')">经典全集榜</h3>
			</div><!--tabbox  END-->
			<div class="sidebox_con">
				<div id="List_countrylist_0">
				<ol class="ranklist ranklist_typeC"><gxcms name="video" cid="15,16,17" limit="10" order="weekhits desc">
				<lt name="i" value="4"><li class="top"><else /><li></lt><em><eq name="i" value="10">{$i}<else/>0{$i}</eq></em><p><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title}</a><strong><if condition="$video.serial gt 0">更新至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if></strong></p><span class="score">{$video.score}</span><a href="{$video.readurl}" title="点击查看影片信息" class="rankinfo" target="_blank">影片信息</a></li></gxcms>
				</ol>
				</div>
				<div id="List_countrylist_1" style="display:none">
				<ol class="ranklist ranklist_typeC"><gxcms name="video" serial="over" cid="15,16,17" limit="10" order="weekhits desc">
				<lt name="i" value="4"><li class="top"><else /><li></lt><em><eq name="i" value="10">{$i}<else/>0{$i}</eq></em><p><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title}</a><strong><if condition="$video.serial gt 0">更新至{$video.serial}集<else/>完结</if></strong></p><span class="score">{$video.score}</span><a href="{$video.readurl}" title="点击查看影片信息" class="rankinfo" target="_blank">影片信息</a></li></gxcms>
				</ol>
				</div>
			</div>
		</div><!--sidebox 内地明星 END-->
	</div><!--side  END-->
</div>

<div id="topdiv10" class="wrapper L725R243">
	<div class="main">
		<div class="box box_typeB">
			<div class="box_tt"><h2>日韩剧场</h2></div>
			<ul class="movielist movielist_100x140"><gxcms name="video" cid="18,19" limit="12" order="addtime desc">
				<li>
	<a  class="pic" title="{$video.title}" href="{$video.readurl}"><img title="{$video.title}" alt="{$video.title}" src="{$webpath}images/img_default.gif" _src="{$video.picurlsmall}" onmouseover="D.show('teleplay','{$video.title}','{$video.year}',' {$video.showname}','{$video.area}','{$video.score}','{$video.scoreer}', '{$video.actor}','{$video.content|get_replace_html=0,30}','','53','',1)" onmouseout="D.hide()"></a>
	<p class="movielist_tt"><a href="{$video.readurl}" title="{$video.title}">{$video.title}</a>
	<a href="{$video.readurl}" title="{$video.title}" class="info">详情</a></p>
	<span class="movbg"></span>
	<span class="movtxt"><if condition="$video.serial gt 0">更新至{$video.serial}集<else />完结</if></span>
	<p>{$video.actor}</p>
</li></gxcms>
			</ul>
		</div>
	</div><!--main  END-->
	<div class="side">
		<div class="sidebox">
			<div class="tabbox" style="border-top:none;">
				<h3 id="Tab_asialist_0" onmouseover="switchTab('asialist',0,2,'on','')" class="on" style="width:121px;border-left:none;">日韩热播榜</h3>
				<h3 id="Tab_asialist_1" onmouseover="switchTab('asialist',1,2,'on','')">经典全集榜</h3>
			</div><!--tabbox  END-->
			<div class="sidebox_con">
				<div id="List_asialist_0">
				<ol class="ranklist ranklist_typeC"><gxcms name="video" cid="18,19" limit="10" order="weekhits desc">
				<lt name="i" value="4"><li class="top"><else /><li></lt><em><eq name="i" value="10">{$i}<else/>0{$i}</eq></em><p><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title}</a><strong><if condition="$video.serial gt 0">更新至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if></strong></p><span class="score">{$video.score}</span><a href="{$video.readurl}" title="点击查看影片信息" class="rankinfo" target="_blank">影片信息</a></li></gxcms>
				</ol>
				</div>
				<div id="List_asialist_1" style="display:none">
				<ol class="ranklist ranklist_typeC"><gxcms name="video" serial="over" cid="18,19" limit="10" order="weekhits desc">
				<lt name="i" value="4"><li class="top"><else /><li></lt><em><eq name="i" value="10">{$i}<else/>0{$i}</eq></em><p><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title}</a><strong><if condition="$video.serial gt 0">更新至{$video.serial}集<else/>完结</if></strong></p><span class="score">{$video.score}</span><a href="{$video.readurl}" title="点击查看影片信息" class="rankinfo" target="_blank">影片信息</a></li></gxcms>
				</ol>
				</div>
			</div>
		</div><!--sidebox 内地明星 END-->
	</div><!--side  END-->
</div>

<div id="topdiv11" class="wrapper L725R243">
	<div class="main">
		<div class="box box_typeB">
			<div class="box_tt"><h2>欧美剧场</h2></div>
			<ul class="movielist movielist_100x140"><gxcms name="video" cid="20" limit="12" order="addtime desc">
				<li>
	<a class="pic" title="{$video.title}" href="{$video.readurl}"><img title="{$video.title}" alt="{$video.title}" src="{$webpath}images/img_default.gif" _src="{$video.picurlsmall}" onmouseover="D.show('teleplay','{$video.title}','{$video.year}',' {$video.showname}','{$video.area}','{$video.score}','{$video.scoreer}', '{$video.actor}','{$video.content|get_replace_html=0,30}','','53','',1)" onmouseout="D.hide()"></a>
	<p class="movielist_tt"><a href="{$video.readurl}" title="{$video.title}">{$video.title}</a>
	<a href="{$video.readurl}" title="{$video.title}" class="info">详情</a></p>
	<span class="movbg"></span>
	<span class="movtxt"><if condition="$video.serial gt 0">更新至{$video.serial}集<else />完结</if></span>
	<p>{$video.actor|get_replace_html=0,10}</p>
</li></gxcms>
			</ul>
		</div>
	</div><!--main  END-->
	<div class="side">
		<div class="sidebox">
			<div class="tabbox" style="border-top:none;">
				<h3 id="Tab_europlist_0" onmouseover="switchTab('europlist',0,2,'on','')" class="on" style="width:121px;border-left:none;">欧美热播榜</h3>
				<h3 id="Tab_europlist_1" onmouseover="switchTab('europlist',1,2,'on','')">经典全集榜</h3>
			</div><!--tabbox  END-->
			<div class="sidebox_con">
				<div id="List_europlist_0">
				<ol class="ranklist ranklist_typeC"><gxcms name="video" cid="20,21" limit="10" order="weekhits desc">
				<lt name="i" value="4"><li class="top"><else /><li></lt><em><eq name="i" value="10">{$i}<else/>0{$i}</eq></em><p><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title}</a><strong><if condition="$video.serial gt 0">更新至{$video.serial}集<else/><notempty name='video.intro'>{$video.intro|get_replace_html=0,8}<else />高清</notempty></if></strong></p><span class="score">{$video.score}</span><a href="{$video.readurl}" title="点击查看影片信息" class="rankinfo" target="_blank">影片信息</a></li></gxcms>
				</ol>
				</div>
				<div id="List_europlist_1" style="display:none">
				<ol class="ranklist ranklist_typeC"><gxcms name="video" serial="over" cid="20,21" limit="10" order="weekhits desc">
				<lt name="i" value="4"><li class="top"><else /><li></lt><em><eq name="i" value="10">{$i}<else/>0{$i}</eq></em><p><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title}</a><strong><if condition="$video.serial gt 0">更新至{$video.serial}集<else/>完结</if></strong></p><span class="score">{$video.score}</span><a href="{$video.readurl}" title="点击查看影片信息" class="rankinfo" target="_blank">影片信息</a></li></gxcms>
				</ol>
				</div>
			</div>
		</div>
	</div><!--side  END-->
</div>
<include file="footer" />
</body>
</html>
<script type="text/javascript" src="{$webpath}js/common.min.js"></script>
<script src="{$webpath}js/tips_history_lazy.min.js" charset="utf-8" ></script>
<script type="text/javascript">LAZY.init();LAZY.run();</script>
<script language="JavaScript" type="text/javascript" src="{$webpath}views/js/history.js"></script>